@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600;700&family=Mulish:wght@200&family=Oswald:wght@200;300;400&family=Oxygen:wght@300;400;700&family=Poppins:wght@100&family=Roboto:ital,wght@0,100;1,100&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-family: sans-serif;
  }
  
  body{
    background-color: white;
    /* font-family: 'Oswald', sans-serif; */
  }
  .header {
    background-color: #ffffff;
    /* margin: auto -10px;
    padding: 10px 20px;  */
    padding: 35px;
    box-shadow: 0 0 2px 0 rgb(110, 110, 110);  
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    /* font-family:'Inter', monospace; */
    font-family: 'Courier New', Courier, monospace;
    
  }
  .header img{
    width: 50px;
    height: 50px;
  }
  .header h1{
    align-items: center;
    font-size: 30px;
    padding: 8px 0 0 5px;
  }
  .myForm{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  form {
    /* position: relative;
    width: 600px;
    margin: 32px auto 50px auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    min-width:320px;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
  form input {
    width: 100%;
    border: none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

  }
  form textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
  }
  
  .form-button {
    position: relative;
    display: flex;
    /* justify-content: flex-end;
    align-items: center; */
    align-self: flex-end;
    right: 18px;
    bottom: -18px;
    background: #f4b400;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgb(165, 165, 165);
    cursor: pointer;
    outline: none;
  }

#root{
  height: 100vh;
  /* margin-bottom: 10px;
  padding-bottom: 50px; */
}
.App{
  height: 100%;
  /* margin-bottom: 10px;
  padding-bottom: 50px; */
}
    .form-button-cross {
      position: relative;
      display: flex;
      align-self: flex-end;
      right: 70px;
      top: 54px;
      background: rgb(240, 18, 0);
      color: #fff;
      border: none;
      border-radius: 50%;
      
      box-shadow: 0 1px 3px rgb(165, 165, 165);
      cursor: pointer;
      outline: none;
    }
  .allnotes{
    display: flex;
    /* justify-content: space-evenly; */
    /* border: 2px solid red; */
    margin: 10px;
    
    
  }

  .editOverlay{

    opacity:0.55;
  }

  .form-edit{
    transition: transform .35s ease-in-out;
  }

  .page{
    width: 25px;
    height: 25px;
    background-color: #f4b400;
    color: white;
    border-radius:50%;
  }

  .note {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    /* display: flex; */
    /* width: 240px; */
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128, 128, 128,0.3);
    padding: 10px;
    width:340px;
    min-width: 300px;
    /* margin: 16px;
    float: left;
    margin-right: 0; */
    

  }
  .note-left{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 700; */
    overflow: scroll;
    max-width: 300px;
  }

  .btn{
    width: 25px;
  }
  
  .note-left{
    width: 300px;
  }

  .note-right{
    display: flex;
    flex-direction: column;
    width:30px;
  }

  .note h1 {
    font-size: 1.1rem;
    margin-bottom: 6px;
    
    font-family:'Poppins', Courier, monospace;
    font-weight: 700;
  }
  
  .note p {
    font-size: 1rem;
    color: black;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    color: #f4b400;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }
  
  .count {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-family:'Inter',sans-serif;
  }
  
  .footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 3rem;
    border: 2px solid red;
  }
  
  .note:hover{
    cursor:pointer;
  }

  .notes-container{
    
    align-items:center;
    
  }
  .pg-count{
    /* position: absolute; */
    /* bottom: 20px; */
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-bottom: 20px; */
  }
  .page:hover{
    cursor:pointer;
  }
  
::-webkit-scrollbar {
  display: none;
}

.scrollable-container {
  max-height: 250px; /* Adjust the value to your desired maximum height */
  overflow-y: auto; /* This will add a vertical scrollbar when content exceeds the maximum height */
}

.height_200{
  height: 200px;
}